body {
    background-color: seashell;
}
h1 {
    padding-top: 50px;
    text-align: center;
}
.cont {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
 .container {
    background-color: rgb(253, 252, 252);
    border: 1px solid rgb(212, 212, 212);
    border-radius: 20px;
    max-width: 600px;
    min-height: 200px;
}
.form-group {
    padding: 0;
    margin: 0 auto;
}
.height {
    line-height: 50px;
    padding: 100px;
    border: 1px grey dashed;
    border-radius: 10px;
}
button {
   margin: 20 auto;
   align-self: center;
   
} 